@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

//FONTS
$header: 'Calistoga', cursive, serif;
$main-text: Georgia, serif;

//FONT SIZE
$header-size: 4.5em;

//COLOR
$night: #19191c;
$day: rgb(222, 245, 255);
$black: #2c2b2b;
$white: #edece0;

//BUTTONS
@mixin btns {
  padding: .3em;
  font-size: 1rem;
  border-radius: .3em;
  border: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  
  @media only screen and (min-width: 900px) {
    //height: 100vh;
    
    //grid-template-areas: "a b c";
    //grid-template-columns: 1fr 2fr 1fr;
  }

  #settings-container {
    //height: 100%;
    //border: solid blue;
    position: absolute;
    right: 0;
    button {
      @include btns;
      margin-top: .5em;
      cursor: pointer;
      margin-right: .5em;
      // &:not(:last-child) {
      //   margin-right: .5em;
      // }
    }
  }

  main {
    transition: .3s;
    padding: 5.5em 1em;
    section {
      //padding: 1em;
    }
    //border: solid red;
    display: flex;
    flex-direction: column-reverse;
    //display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: $main-text;

    @media only screen and (min-width: 900px) {
      //display: flex;
      //overflow-y: hidden;
      padding: .5em 1em;
      flex-direction: row;
    }
    

    h1 {
      font-family: $header;
      font-size: $header-size;
    }

    

    #scene-container {
      grid-area: b;
      overflow: hidden;
      //border: solid green;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 0;
      width: 100%;
      margin-top: 2.5em;

      img {
        height: 100%;
        transform: scale(1);
      }
      
      @media only screen and (min-width: 900px) {
        height: 100vh;
        width: auto;
        margin-top: 0;
        img {
          transform: scale(.95);
        }
      }

      
    }

    #left-container {
      //border: solid red;
      width: 65vw;
      //padding: 0 3em;
      max-width: 400px;
      min-height: 60vh;
      grid-area: a;

      h1, p {
        text-align: center;  
      }
      

      @media only screen and (min-width: 900px) {
        //max-width: 400px;

        h1, p {
          text-align: left;  
        }
        
      }
    }



  }

  footer {
    padding: 1em .5em;
    p {
      text-align: right;
      //font-size: 1.3rem;

      a {
        font-weight: bold;
        
      }
    }
  }
}